# FUNCTIONS

In [ ]:
# A function is a group of related statements or reusable code that perform a specific task
# in other languages functions are  known as methods,procedures, sub routines etc
# there are two types of functions: 1.built-in functions, 2. user-defined functions

In [ ]:
# 1. Built-in functions --> functions which comes along with python software
# : id(),type(),input(), eval(),Len(), etc

In [ ]:
# 2.user-defined functions--> functions which are writen by our own to perform some tasks

"""
def function_name():
    statement1
    statement2
    .....
    .....
    
    statement n
    return value.       
"""
# while creating functons defis mandatory, return is optional

In [1]:
a=3
b=6
c=8
d=a+b+c
print(d)

17

In [2]:
# defining the function
def my_func():
    print("Hello")
    print("here i have defined my custom function")
    print("This function will execute only when you call it ")
    
my_func()

Hello
here i have defined my custom function
This function will execute only when you call it

In [3]:
# we can pass arguments
def add(x,y,z):
    k=x+y+z
    print(k)

In [4]:
add(23,67,89)

179

In [5]:
add(33,67) # we should pass three values since function has three arguments.

TypeError: add() missing 1 required positional argument: 'z'

In [6]:
add(33,67,0)

100

In [7]:
id(add)

2401515033936

In [10]:
# passing strings as arguments

def str(name1,name2,name3,name4):
    print('my name is {}'.format(name1))
    print('my city name is {}'.format(name2))
    print('my bike name is {}'.format(name3))
    print('my car name is {}'.format(name4))

In [13]:
str("siva",'kadapa','apache','verna')

my name is siva
my city name is kadapa
my bike name is apache
my car name is verna

In [14]:
# we can pass list in function

def f1(list):
    for i in list:
        print(i)

In [15]:
f1([1,2,3,4,5])

1
2
3
4
5

In [16]:
f1(['hi','hey','hello','bye'])

hi
hey
hello
bye

In [ ]:
# return keyword
# return keyword can be used to return values from a function
#it can used at the end of the execution of the function
# statement below return keyword will not be executed

In [17]:
def multi(l,k):
    z = l* k
    return z
    print("my product is ",z) # this willnot be executed

In [18]:
multi(20,2)

40

In [19]:
# passing the default values as arguement inside our function
# we will manually initalize a default values for the parameters to avoid errors
def add1(x,y,z = 0):
    k = x+y+z
    print(k)

In [20]:
add1(5,9) # it will execute even without third value

14

In [21]:
# A function can call any other function

def func1():
    print("hello world")
    
def func2():
    print("hello india")
    func1()
    
def func3():
    print("hello andhra")
    func1()
    func2()

In [23]:
func1()

hello world

In [24]:
func3()

hello andhra
hello world
hello india
hello world

# Recursive function or recursion
#A function calling itself
#possibility of infinity execution. Always handle this scenario

In [25]:
def my_func1(num):

    num = num+1
    if(num>5):
        return
    
    print("Hello")
    my_func1(num)

In [28]:
my_func1(6)  # since 6>5 it wont give o/p because of return statement
             # if we give i/p <5 then it will give infinity no. of hello statements.
             # advantages-->1.  We can reduce length of the code and improves readability
              #2.   We can solve complex problems very easily

In [29]:
def fact(num):
    if (num == 1):              
         return 1
    elif(num == 2):
        return 2
    else:
        return(num*fact(num-1))      
                                     # fact(3)
                                    #  =3*fact(2)
                                     #  =3*2*fact(1)                       
                                      # =3*2*1*fact(0)                    
                                       #=3*2*1*1  
                                     # =6

In [30]:
fact(6)

720

In [33]:
def a1(x,y):
    return x+y
def a2(x,y):
    return x-y
def a3(x,y):
    return x*y
def a4(x,y):
    return x/y

In [34]:
a2(22,10)

12

In [37]:
# Returning Multiple values from a function:
def sum_sub(a, b):
    sum = a + b
    sub = a - b
    return sum,sub
x, y = sum_sub(100,50)
print("The Sum is :", x)
print("The Subtraction is :", y)

The Sum is : 150
The Subtraction is : 50


# Lambda
->A lambda function is a small anonymous function or nameless function
->they are mostly built when you want a function to be used for a short period of time
->A lambda function can take any number of arguements, but can only have one expression
->They are mostly used along with the map and filter
->Sometimes we can declare a function without any name,such type of nameless functions are called anonymous functions or lambda functions.

In [ ]:
# syntax
# lambda arugements : expression

In [39]:
# to get square of a value by using normal function
def fun(num):
    return num**2

fun(5)

25

In [40]:
# using lambda

func = lambda num : num**2

func(6)

36

In [41]:
# lambda function mostly used with map() and filter()

In [42]:
s=lambda a,b:a if a>b else b
print("Biggest of 10,20 is:",s(10,20))
print("Biggest of 100,200 is:",s(100,200))

Biggest of 10,20 is: 20
Biggest of 100,200 is: 200

# MAP()
->The function can be applied on each element of sequence and generates new sequence
->it will allow you to "map" a function to a iterable variable or object

In [ ]:
# sytnax of map function

'''
map(function, sequences)

it applies the function to all the elements in the sequences
'''

In [ ]:
# DOUBLE the value using map function
# first we assign list of sequence, then defining function, after that using map()

In [49]:
list1 = [1,2,3,4,5,6,7]

def double(num):
    return 2*num

In [50]:
double(5)

10

In [51]:
# using map() function
map(double,list1)

In [52]:
for i in map(double,list1):
    print(i)

2
4
6
8
10
12
14

In [55]:
tuple(map(double,list1))

(2, 4, 6, 8, 10, 12, 14)

In [75]:
# using lambda function
a = tuple(map(lambda num:2*num, list1))
print(a)

(2, 4, 6, 8, 10, 12, 14)

# FILTER
->We can use filter() function to filter values from the given sequence based on some condition.

In [ ]:
# syntax of filter

'''
filter(function,sequences)

It applies the function to all the elements in the sequences
and retains only those elements which passes the specific conditions
'''

In [68]:
# to find even num using normal function
def even(num):
    if num%2 == 0:
        return True
    else:
        return False

In [69]:
even(7)

False

In [58]:
list1

[1, 2, 3, 4, 5, 6, 7]

In [71]:
#lets use filter function
L = tuple(filter(even,list1))
print(L)

(2, 4, 6)

In [87]:
tuple(map(even,list1))  # in filter it shows values but in map it gives if value is +ve then true else false

(False, True, False, True, False, True, False)

In [78]:
def sqr(num):
    return num*num
sqr(8)

64

In [80]:
# using lambda function with filter to find square of a number
L1 = set(filter(lambda num: num%2 , list1))
print(L1)

{1, 3, 5, 7}

In [83]:
L2 = tuple(map(lambda num:num*num , list1))
print(L2)

(1, 4, 9, 16, 25, 36, 49)

In [91]:
L3 = set(map(lambda num: num%2 ,list1))
print(L3)

{0, 1}

# REDUCE()
->reduce() function reduces sequence of elements into a single element by applying the specified function. 
'''
SYNTAX
reduce(function,sequence) 
'''
->reduce() function present in functools module and hence we should write import statement.

In [96]:
from functools import*
L=[1,2,3,4,5]
L1=reduce(lambda x,y:x+y,L)
print('by adding all elements',L1)
L2=reduce(lambda x,y:x*y,L)
print('by multiplicating all elemens',L2)
L3=reduce(lambda x,y:x-y,L)
print('by substracting all elements',L3)

by adding all elements 15
by multiplicating all elemens 120
by substracting all elements -13

# ZIP()
-> zip function will return the zip object
-> if we have to tuples, first element in both the tuples will gets paired and form as an single element

In [97]:
x = (1,2,3,4,5,6,7)
y = (1,2,3,4,5,6)

z = zip(x,y)

In [98]:
print(z)

<zip object at 0x0000022F2580B980>

In [99]:
print(tuple(z)) # here 7th element in x will not print because there is no 7th element in y to pair

((1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6))

# ENUMERATE()
->The enumerate() function takes a collection (e.g. a tuple) and returns it as an enumerate object.
    ->SYNTAX IS enumerate(iterable,start)
    ->iterable= an iterable object
    ->start=defining the starting number, like indexing, by default it is 0

In [116]:
key= ['hello','hi','how','who','why','what']
enum = enumerate(key)

print(tuple(enumerate(key,2)))

((2, 'hello'), (3, 'hi'), (4, 'how'), (5, 'who'), (6, 'why'), (7, 'what'))

In [114]:
l1 = ["stand","sleep","repeat"]
s1 = "hello"
 
# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)
 
print ("Return type:",type(obj1))
print (tuple(enumerate(l1)))
 
# changing start index to 2 from 0
print (tuple(enumerate(s1,2)))

Return type: <class 'enumerate'>
((0, 'stand'), (1, 'sleep'), (2, 'repeat'))
((2, 'h'), (3, 'e'), (4, 'l'), (5, 'l'), (6, 'o'))