In [ ]:
# LOOP--> to repeat the code for no of times, a task to perform in certain ranges.
# while vs for loop
# while is used to execute no of statements till the specified condition is true
# for is used to iterate the elements of a collection as they looks in order and it is sequence.

In [ ]:
""" 
syntax of while loop

while(condition/s):
    statement1
    statement2
    ..........
"""

In [4]:
a = 1
while a<=8: # : and indentation is mandatory
    print(a)
    a+=1 # whitout this code it wont return to logic again.

1
2
3
4
5
6
7
8

In [9]:
# WHILE - ELSE 
# IF YOU WANT TO KNOW YOUR WHILE LOOP HAS FINISHED IT'S EXECUTION AND YOU WANT TO DO SOME OPERATIONS THEN YOU CAN MAKE USE OF "ELSE"

b =1

while b<=11:
    print(b)
    b+=1
else:    
    print('my last value of b is', b)

1
2
3
4
5
6
7
8
9
10
11
my last value of b is 12

In [12]:
#BREAK--> we can stop the loop or come out of the even the condition is true

c = 1
while c<8:
    if c==4:
        print(c)
        break      # here c reaches 4, so break executes and comes out of loop
    else:
        print(c)
        c+=1

1
2
3
4

In [13]:
 #CONTINUE--> it will stop the current iteration and continue with remaining loop
# if we want to skip any values we can do it with continue statement.
    d = 0
while d<7:
    d+=1
    if d==3:     # here d=3 so that value will be skipped and continued with next.
        continue
    print(d)

1
2
4
5
6
7

In [14]:
#print only odd numbers

e = 0
while(e<21):
    e = e+1
    if(e%2 == 0):
        continue
    print(e)

1
3
5
7
9
11
13
15
17
19
21

# FOR loop

In [ ]:
#it is used to iterate the elements of any collection(list,sets,tuples,dictionaries etc)

"""
syntax

for <variable> in <sequence>

"""

In [15]:
list = ['hi','hey','why','who','when','hello']

for i in list:
    print(i)

hi
hey
why
who
when
hello

In [16]:
# LOOPING OVER A STRING

string = "hello world"

for i in string:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
# range(start,stop,step)
#start -- starting position default value is 0
#stop -- end position(exclusive) default(end position)
#step -- step size or increment of size (default value is 1)

#range(5) --> 5 times you run the loop or 5 is the stop parameter
#range(1,10) --> 1 is start and 10 is stop
#range(1,10,2) --> 1 is start, 10 is stop and 2 is increment

In [18]:
# sum of 10 numbers
sum = 0
for i in range(1,11):
    sum+=i
    print(sum)

1
3
6
10
15
21
28
36
45
55

In [20]:
for i in range(1,20,3): # here we entered increment of three so there will be gap of 3 values between each value 
    print(i)

1
4
7
10
13
16
19

In [22]:
# looping in reverse order
for i in range(11,0,-1): # here indexes are changed and increment should be negative to get in reverse
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [23]:
# BREAK inside for loop

for i in range(0,11,1):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

In [24]:
list = ['hi','hello','hey','what']
for i in list:
    if i == 'hey':
        break
    print(i)

hi
hello

In [25]:
# CONTINUE inside for loop
# i dont want to print even values
for i in range(1,11):
    if i%2 == 0:         # i just skipped even numbers
        continue
    print(i)

1
3
5
7
9

In [ ]:
# PASS 
# PASS KEYWORD DOES NOTHING BUT YOU CAN AVOID GETTING AN ERROR WHEN EMPTY CODE IS NOT ALLOWED.
#EMPTY CODE ARE NOT ALLOWED IN LOOPS,IF ELSE CONDITIONS, FUNCTIONS,CLASSES

In [28]:
if i in range(1,5):
    print(i)
else:
    # here we got error because else stateent is empty

SyntaxError: unexpected EOF while parsing (<ipython-input-28-97dd131ab8b5>, line 4)

In [29]:
if i in range(1,5):
    print(i)
else:
    pass

In [30]:
if(5<3):
    pass

In [31]:
x =10

while x>=1:
    print(x)
    x-=1
else:    
    print('my last value of x is', x)

10
9
8
7
6
5
4
3
2
1
my last value of x is 0

In [32]:
tuple = (1,2,3,4,5,6)
for i in tuple:
    print(i)

1
2
3
4
5
6

In [33]:
set = {'my','name','is','siva','krishna'}
for i in set:
    print(i)

is
my
siva
krishna
name

In [35]:
dict= {
'name':'rahul',
'age': 25,
'income':2500000,
'city':'bangalore'
}
for item in dict:
    print(item)

name
age
income
city

In [36]:
dict.items()

dict_items([('name', 'rahul'), ('age', 25), ('income', 2500000), ('city', 'bangalore')])